h1 {
  color: blue;
}

h3 {
  color: green;
  font-family: 'Times New Roman', Times, serif;
}

h4 {
  color: orange;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  height: 400px;
  width: auto;
}
